* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  background: linear-gradient(45deg, #190f2c, #200b30);
  padding: 15px;
  height: 100vh;
}

/* input form*/
h1 {
  font-weight: bolder;
  text-align: center;
  margin-bottom: 20px;
  color: rgb(255, 243, 5);
}

#comicForm {
  background-image: linear-gradient(to bottom right, #FDABDD, #374A5A);
  max-width: 600px;
  max-height: 80%;
  margin: 0 auto;
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  overflow: scroll;
  margin-bottom: 10%;
}
label {
  display: block;
  margin-bottom: 8px;
  font-weight: bold;
  color: black
}
input[type="text"] {
  width: calc(100% - 20px);
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 4px;
  border: 1px solid #ccc;
}
input[type="submit"] {
  background-color: rgb(211, 134, 147);
  color: black;
  padding: 10px 20px;
  border: 2px solid yellow;
  border-radius: 4px;
  cursor: pointer;
  font-weight:bold;
  transition: background-color 0.3s ease;
}
input[type="submit"]:hover {
  background-color: rgb(211, 134, 147);
}

